@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,700';

$font-family-base: 'Open Sans', sans-serif;

// Define font weight
$headings-font-weight: 700;
$font-weight-bold: 700;
$font-family-base: 300;