
// Header styles
//

header.container {
  min-height: 82px;
  background-color: $header-bg;
  position: relative;

  .logoWrap {
    margin: 41px 15px 21px;
    margin-top: $header-offset;
    max-width: 50%;

    .logo {
      img,
      svg {
        width: 100%;
        height: auto;
      }
    }
  }


  /* Responsive: Portrait tablets and up */
  @media screen and (min-width: 768px) {
    .logoWrap {
      margin-left: 82px;
      //margin-top: #{$line-height-base}rem;
      max-width: 60%;
    }
    .logo img,
    .logo svg,
    .logo {
      float: left;
      margin-right: 25px;
      width: 296px;
    }
  }

  @media screen and (min-width: 450px) {
  }

}


// Meta navigation oben im header
//

.metaNavi {
  text-align: right;
  font-size: $font-size-small;
  margin-bottom: 21px;

  margin-right: -$grid-gutter-width/2;
  margin-left: -$grid-gutter-width/2;

  outline: thin solid lime;

  @include textcolor($gray-dark);

  nav.lang {
    li {
      min-width: 0;
      opacity: $flag-opacity;
      transition: $default-transition;

      &:hover,
      &.active {
        opacity: 1;
      }

      img {
        border: $flag-border;
      }
    }
  }

  nav.meta {
    display: flex;
    text-align: left;
    justify-content: flex-end;

    a {
      margin-right: $grid-gutter-width/2;
    }
  }

  /* Responsive: MINI | < 320 */
  @media screen and (max-width: 320px) {

  }

  /* Responsive: Portrait tablets and up */
  @media screen and (min-width: 768px) {

  }
}
