// Vars
$back-to-top_bg: $orange;
$back-to-top_color: $text-color;
$back-to-top_bg--hover: $white;
$back-to-top_bg--hover: $orange-dark;
$back-to-top_color--hover: $white;

$back-to-top_height: $grid-gutter-width * 1.5;
$back-to-top_width: $back-to-top_height;

$back-to-top_borderrad: 50%;




.back-to-top {

  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  text-decoration: none !important;
  font-size: 1.2em;
  position: fixed;
  right: $grid-gutter-width / 2;
  bottom: $grid-gutter-width;

  opacity: 0;
  z-index: -12;

  background: $back-to-top_bg;
  color: $back-to-top_color;

  height: $back-to-top_height;
  width: $back-to-top_width;

  border-radius: $back-to-top_borderrad;

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;


  &.unhide {
    z-index: 0;
    opacity: 1;
  }

  &:hover {
    cursor: pointer;
    color: $back-to-top_color--hover;
    background-color: $back-to-top_bg--hover;
  }
  &:active {
    box-shadow: none;
  }
}

// Positioning of arrow
.back-to-top {
  i {
    position: relative;
    top: -2px;
  }
}
