<f:comment>

    <div class="row">
        {contentFooter -> f:format.raw()}
    </div>

</f:comment>

<footer class="container">
    <h2>Kontakt</h2>
    <div class="row">
        <div class="col-sm-4">
            <p>BEFRA Energietechnik GmbH<br>
                Dipl.-Ing. (FH) Bernd Müller<br>
                Zur Brunnenstube 3<br>
                88299 Leutkirch</p>

            <p>Telefon: +49 (0) 7561 91248-2<br>
                Telefax: +49 (0) 7561 91248-7</p>
            <ul class="list-inline visible-xs">
                <li><a href="#">Anfrage</a></li>
                <li><a href="#">Kontakt</a></li>
                <li><a href="#">Impressum &amp; Datenschutz</a></li>
            </ul>
        </div>
        <div class="col-sm-4">
            <p>
                <a href="">mobile Trafostationen</a><br>
                <a href="">mobiler Mast</a><br>
                <a href="">Trafostationen nicht begehbar</a><br>
                <a href="">Trafostationen begehbar</a>
            </p>

            <p>
                <a href="">Vermietung Trafostationen</a><br>
                <a href="">Planung Trafostationen</a>
            </p>
        </div>
        <div class="col-sm-4">
            <p>
                <a href="">mobile Trafostationen</a><br>
                <a href="">mobiler Mast</a><br>
                <a href="">Trafostationen nicht begehbar</a><br>
                <a href="">Trafostationen begehbar</a>
            </p>

            <p>
                <a href="">Vermietung Trafostationen</a><br>
                <a href="">Planung Trafostationen</a>
            </p>
        </div>
    </div>
</footer>