<div class="center">
    <div class="logoWrap">
        <div class="logo">
            <f:link.page pageUid="{pageIds_root}">
                {logoFile -> f:format.raw()}
            </f:link.page>
        </div>
    </div>

    <div class="metaNavi hidden-xs">
        <!-- Language de/en/fr -->
        <nav class="lang">
            {metaNavi -> f:format.raw()}
        </nav>
        <!--
            Metamenu
            TODO: noch dymnamisieren
        -->
        <nav class="meta">
            <a class="btn btn-special" href="tel:00497561912482">
                <i class="fa fa-phone"></i>
                <span class="sr-only">Telefon</span>
            </a>
            <span>
                {kontaktlinks -> f:format.raw()}
            </span>
        </nav>
    </div>
</div>