<header class="container">
    <f:render partial="Header" arguments="{_all}"/>
</header>

<f:render partial="Navigation" arguments="{_all}"/>

<div class="wrapper">
    <f:if condition="{0:'{layout}'} == {0: 'pagets__1'}">
        <div class="container stage">
            <f:render section="stage"/>
        </div>
    </f:if>

    <!-- Content starts here -->
    <div class="container content">
        <f:if condition="{0:'{layout}'} == {0: 'pagets__1'}">
            <f:then></f:then>
            <f:else>
                {breadCrumb -> f:format.raw()}
            </f:else>
        </f:if>

        <f:render section="main"/>
    </div>


    <f:render partial="Footer" arguments="{_all}"/>

</div>

<f:render partial="SuperFooter" arguments="{_all}"/>

