<!--[if lt IE 10]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<header class="container">
    <f:render partial="Header" arguments="{_all}" />
</header>

<f:render partial="Navigation" arguments="{_all}" />

<div class="wrapper">
    <div class="container stage">
        <f:render section="stage" />
    </div>

    {breadCrumb -> f:format.raw()}

    <f:render section="main" />


    <f:render partial="Footer" arguments="{_all}" />

</div>

<f:render partial="SuperFooter" arguments="{_all}" />

