<header class="container">
    <f:render partial="Header" arguments="{_all}"/>
</header>

<f:render partial="Navigation" arguments="{_all}"/>

<div class="wrapper">
    <f:if condition="{layout} = 'pagets__1'">
        <div class="container stage">
            <f:render section="stage"/>
        </div>
    </f:if>

    {breadCrumb -> f:format.raw()}

    <f:render section="main"/>


    <f:render partial="Footer" arguments="{_all}"/>

</div>

<f:render partial="SuperFooter" arguments="{_all}"/>

