//
// Variables
//


// Colors
//

$orange: #ff7d00;
$orange-dark: #e97100;
$grey: #b6b6b6;
$grey-dark: #333333;
$grey-special: #4d4d4d;
$grey-middle: #878787;
$blue: #00a5e9;
$blue-light: #dbeefb;
$blue-dark: #c2cdd5;

$brand-warning: $orange;

$link-hover-decoration: underline;
$link-color: $grey-dark;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-rounded: false;

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:               12;
$grid-gutter-width-base:     30px;
$grid-gutter-width: $grid-gutter-width-base;