

// Vars
//

@import "variables";


// bower:scss
@import "bower_components/bootstrap/scss/bootstrap.scss";
// endbower



// Fonts
//

@import "partials/fonts";


// Basics
//

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// Desktop and up
//

@media (min-width: 48em) {

}



// Navigation
//

//@import "partials/navigation";

