$icon-font-path: '../fonts/';
// Fetch variables
@import "variables";

// Fetch mixins
@import "mixins";

// Fetch font-settings
@import "fonts";

$fa-font-path: "../fonts";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/slick-carousel/slick/slick.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
@import "bower_components/select2/src/scss/core.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}



/*==============================
=            Layout            =
==============================*/

body {
  padding-bottom: 80px;
  //background: #B3B3B3 url(../Images/BG_SB.png) center repeat;
  //background: #8c8c8c;
  background: #f4f4f0 url(../Images/3D-Linien-Body.svg) center repeat-y;
  //background-attachment: fixed;
  background-size: 100vw auto;


  .wrapper {
    background: white;

    margin: 0 auto;
    //box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.5);
  }

  > .container {
    z-index: 4;
    width: 100%;

    .center {
      margin: 0 auto;
      max-width: $wrapper-max-width;
    }
  }

  /* Responsive: Portrait tablets and up */
  @media screen and (min-width: 768px) {
    .wrapper {
      max-width: $wrapper-max-width;

      .container {
        max-width: $wrapper-max-width - $grid-gutter-width;
        width: auto;
        margin-left: $grid-gutter-width/2;
        margin-right: $grid-gutter-width/2;

        &.affix {
          max-width: $wrapper-max-width;
        }
      }
    }
  }
}





// Partials

@import "partials/header";
@import "partials/navigation";
@import "partials/stage";
@import "partials/breadcrumb";
@import "partials/btn-special";
@import "partials/footer";
@import "partials/btn-special";
@import "partials/scroll_top_button";

// Elements

@import "elements/responsive_images";
@import "elements/forms";
@import "elements/content";
@import "elements/spacer_mask";
@import "elements/special_box_mask";
@import "elements/selectormadness";



// Extensions

@import "extensions/cookieconsent2";
