.ce-bullets {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  margin-bottom: 2.5em;

  &::before {
    content: '';
    position: absolute;
    top: -0.5em;
    left: 0;
    width: $bullet-line-width;
    border-top: thin solid $bullet-line;
  }

  > li {
    margin-bottom: 1em;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: -0.5em;
      left: 0;
      width: $bullet-line-width;
      border-bottom: thin solid $bullet-line;
    }
  }
}