<f:if condition="{data.tx_mask_options}">
    <select name="select{data.uid}" id="select{data.uid}" class="select2 form-control">
        <f:for each="{data.tx_mask_options}" as="data_item">
            <option
                    value="<f:uri.typolink parameter='{data_item.tx_mask_opt_link}' />"
                    {f:if(condition: data_item.tx_mask_opt_selected, then: 'selected="selected"', else: '')}
            >{data_item.tx_mask_opt_value}</option>
        </f:for>
    </select>
</f:if>

